<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <style>
        .footer {
            /*position: absolute;*/
            bottom: 0;
            width: 100%;
            height: 60px;
            /* Set the fixed height of the footer here */
            line-height: 60px;
            /* Vertically center the text there */
            background-color: #f5f5f5;
        }
        h3 {
            font-size: 24px;
            font-weight: bold;
            color: #3d3d3d;
        }
        h4 {
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
            color: #3d3d3d;
        }
        .row {
            margin-bottom: 50px;
        }
        .table {
            margin-bottom: 25px;
        }
    </style>

    <title>ASA Policy Test Report</title>
</head>

<body>
    <div class="container-fluid">
        {% for interface, action in context.items() %}
        {% if interface != 'full_stats' %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Interface: {{interface}}</h3>

                <div class="col-sm-3">
                    {% for action_type, data in action.items() %}
                    {% if action_type == 'interface_stats' %}
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                                <th>Total Testlets</th>
                                <th>Passed</th>
                                <th>Failed</th>
                                <th>Skipped</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                                <td>{{data.total}}</td>
                                <td>{{data.pass}}</td>
                                <td>{{data.fail}}</td>
                                <td>{{data.skip}}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% endif %}
                    {% endfor %}
                </div>

                {% for action_type, data in action.items() %}
                {% if action_type != 'interface_stats' %}
                <h4>Test Type: {{action_type}}</h4>
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Proto</th>
                            <th>Src IP</th>
                            <th>Src Port</th>
                            <th>ICMP Type</th>
                            <th>ICMP Code</th>
                            <th>Dest IP</th>
                            <th>Dest Port</th>
                            <th>Drop Reason</th>
                            <th>Action</th>
                            <th>Expected</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                    {% if  row.grade == '[PASS]' %}
                        {% set row_color = 'table-success' %}
                    {% elif row.grade == '[FAIL]' %}
                        {% set row_color = 'table-danger' %}
                    {% elif row.grade == '[SKIP]' %}
                        {% set row_color = 'table-warning' %}
                    {% endif %}
                    <tbody>
                        {% set addtional_info = true if row.nat_rule or row.grade == '[FAIL]' or row.grade == '[SKIP]' %}
                        <tr class="{{row_color}}" data-toggle="tooltip" title="{{row.yaml_row}}">
                            <td>{{row.index + 1}}</td>
                            <td>{{row.protocol}}</td>
                            <td>{{row.source_ip}}</td>
                            <td>{{row.source_port}}</td>
                            <td>{{row.icmp_type}}</td>
                            <td>{{row.icmp_code}}</td>
                            <td>{{row.destination_ip.ip_address|default(row.destination_ip)}}</td>
                            <td>{{row.destination_port}}</td>
                            <td>{{row.drop_reason}}</td>
                            <td>{{row.asa_action}}</td>
                            <td>{{row.expected_result}}</td>
                            <td>{{row.grade}}</td>
                        </tr>
                        {% if addtional_info %}
                        <tr class="{{row_color}}">
                            <td colspan="12" data-toggle="tooltip" title="{{row.yaml_row}}">
                                <span style="color:#3d3d3d; font-size: 12px; font-weight: bold;">
                                    {% if row.nat_rule %}
                                    NAT Detected: from {{row.nat_from}} to {{row.nat_to}}<br />
                                    Nat Rule: {{row.nat_rule}}<br />
                                    {% endif %}
                                    {% if row.grade == '[FAIL]' %}
                                    Command: {{row.command}}<br />
                                    Egress Interface: {{row.output_interface}}<br />
                                    {% if row.output_interface == interface %}sub-optimal routing detected, input interface matches egress interface{% endif %}
                                    {% endif %}
                                    {% if row.grade == '[SKIP]' %}
                                    Unable to resolve named host to IP Address
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                    {% endfor %}
                </table>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                Created using
                <a href="https://github.com/johnsondnz/cisco-asa-policy-tester" target="_blank">cisco-asa-policy-tester</a> | Report generated {{ generated }}
            </span>
        </div>
    </footer>
    </div>
    </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>